#ifndef _TEXAS_SECRETS_H_
#define _TEXAS_SECRETS_H_

#define WIFI_SSID                "SSID"
#define WIFI_PASSWORD            "********"

#define OPEN_WEATHER_MAP_API_KEY "********************************"

#endif /* _TEXAS_SECRETS_H_ */